/* p,
ul, 
div{
    
    border: solid red 2px;

}  */

/* body{
    margin: 0;
    padding: 0;
} */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* FIRST FLEX  */
.header {
  box-sizing: border-box;
  display: flex;
  background-color: #1f2937;
  color: white;
  height: 50px;
  padding-left: 12%;
  padding-right: 12%;
}

.headerlogo,
.header-links {
  display: flex;
  flex: 1 1 0;
  align-items: center;
}

.headerlogo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}
.header-links {
  gap: 35px;
  list-style-type: none;
  justify-content: end;
}

.header-links > li {
  text-align: center;
}

.header-links > a {
  text-decoration: none;
}

/* SECOND FLEX */

.description {
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 12%;
  padding-right: 12%;
  height: 350px;
}

.descriptionright,
.descriptionleft {
  /* border: red solid 5px; */
}

.descriptionleft {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.descriptionright {
  display: flex;
  justify-content: center;
  flex: 1 1 0;
  background-color: gray;
}

#hmtext {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: bold;
}

#htext {
}

button {
  background-color: #3882f6;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  color: white;
  border: none;
  font-weight: bold;
}

/* Third section random information */

.random {
  height: 350px;
  display: flex;
  flex-direction: column;
}

.r_title {
  text-align: center;
  color: #1f2937;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.random-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 68px;
  flex: 0 0 0;
}

.r-container {
  width: 150px;
  height: 150px;
  border: 4px rgb(69, 133, 218) solid;
  border-radius: 12px;
}

.random-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
}

.r-text {
  text-align: center;
  width: 150px;
  height: 150px;
}

.r-ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Fourth section quote */

.quote{
  height: 250px;
  background-color: rgb(228, 213, 213);
}